<section class="footer">
  <div class="first-row">
    <a
      href="https://github.com/iamsainikhil/iamsainikhil.github.io"
      target="_blank"
      (click)="footerLinksClick('source-code')"
      >GitHub</a
    >
    <a
      routerLink="/resume"
      routerLinkActive="active"
      (click)="footerLinksClick('resume')"
      >Resume</a
    >
    <a
      routerLink="/projects"
      routerLinkActive="active"
      (click)="footerLinksClick('projects')"
      >Projects</a
    >
    <a
      href="https://blog.iamsainikhil.com"
      target="_blank"
      rel="noreferrer noopener"
      (click)="footerLinksClick('blog')"
      >Blog</a
    >
  </div>
  <div class="second-row">
    <div class="social-icons">
      <p *ngFor="let link of footerLinks">
        <a
          [href]="link.url"
          target="_blank"
          (click)="footerLinksClick(link.name)"
        >
          <p class="image tip" [ngClass]="link.name">
            <span class="message">{{ link.message }}</span>
          </p>
        </a>
      </p>
    </div>
  </div>
  <div class="notes">
    <p>Website built with</p>
    <p class="icon-svg love tip"><span class="message">Love</span></p>
    &nbsp;using
    <p class="icon-svg angular tip"><span class="message">Angular</span></p>
    <p class="icon-svg firebase tip"><span class="message">Firebase</span></p>
    <p class="icon-svg vcs tip">
      <span class="message">Visual Studio Code</span>
    </p>
    <p>&nbsp; and hosted on</p>
    <p class="icon-svg github-svg tip"><span class="message">GitHub</span></p>
  </div>
  <p class="copyrights">
    &copy;&nbsp;2017&nbsp;-&nbsp;{{ date | date: "y" }}&nbsp;Sai&nbsp;Nikhil
  </p>
</section>
