/* projects section */

.gradient {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: #6a5acd;
}


/* card */

.card-header {
    color: #000;
}

.card-body {
    color: #808080;
}

.project-button {
    border: 1px solid #6a5acd;
    color: #6a5acd;
    margin: 10px 0;
}

.project-button:hover {
    background-color: #6a5acd;
    color: #fff;
}

.explore-button {
    padding-top: 50px;
}

.explore-button button {
    border: 1px solid #fff;
    color: #fff;
}

.explore-button button:hover {
    background-color: #fff;
    color: #6a5acd;
}

@media only screen and (max-width: 766px) {
    .element {
        -webkit-clip-path: polygon(0 calc(1% - 1vw), 100% 0, 100% 100%, 0 calc(100% - 4vw));
        clip-path: polygon(0 calc(1% - 1vw), 100% 0, 100% 100%, 0 calc(100% - 4vw));
    }
    .projects-element {
        -webkit-clip-path: polygon(0 calc(1% - 1vw), 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 calc(1% - 1vw), 100% 0, 100% 100%, 0 100%);
    }
    .projects-content {
        padding: 100px 10px;
    }
    .projects {
        display: grid;
        grid-template-columns: 0.85fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        justify-content: center;
    }
    .card {
        padding: 35px 10px 20px 10px;
    }
}


/* ipad only */

@media only screen and (min-width: 767px) and (max-width: 1279px) {
    .element {
        -webkit-clip-path: polygon(0 calc(2% - 1vw), 100% 0, 100% 100%, 0 calc(100% - 4vw));
        clip-path: polygon(0 calc(2% - 1vw), 100% 0, 100% 100%, 0 calc(100% - 4vw));
    }
    .projects-element {
        -webkit-clip-path: polygon(0 calc(3% - 1vw), 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 calc(3% - 1vw), 100% 0, 100% 100%, 0 100%);
    }
    .projects-content {
        padding: 150px 20px;
    }
    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        grid-gap: 30px;
        justify-content: center !important;
    }
    .card {
        padding: 40px 10px 30px 10px;
    }
    .card-content {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 100px 225px 75px;
    }
    .card-body {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 150px 75px;
    }
    .card-footer {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 1280px) {
    .element {
        -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
    }
    .projects-element {
        -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    }
    .projects-content {
        padding: 150px 100px;
    }
    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 30px;
        justify-content: center !important;
    }
    .card {
        padding: 50px 10px 30px 10px;
    }
    .card-content {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 100px 250px;
    }
    .card-body {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 150px 100px;
    }
}