<div class="container">
  <div class="columns">
    <div class="column">
      <h2
        class="text-center"
        [ngClass]="{
          'section-title': page === 'home',
          'pa-title': page === 'projects'
        }"
      >
        Projects
      </h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="columns">
    <div class="column">
      <div
        class="gradient"
        [ngClass]="{
          element: page === 'home',
          'projects-element': page === 'projects'
        }"
      >
        <div class="section-content projects-content">
          <div>
            <app-filter [chipData]="chipData" [page]="'projects'"></app-filter>
          </div>
          <div *ngIf="showLoader">
            <app-site-loader></app-site-loader>
          </div>
          <div *ngIf="!showLoader">
            <div class="projects">
              <div *ngFor="let project of (projectsData | async)">
                <div class="project-card wow fade-in-bottom">
                  <div class="image-section">
                    <app-devices
                      [imageUrl]="project.data.imageUrl"
                    ></app-devices>
                  </div>
                  <div class="content-section">
                    <div class="project-title">{{ project.data.title }}</div>
                    <div class="project-info">
                      <p>{{ project.data.shortInfo }}</p>
                      <p>
                        <span
                          class="chip"
                          *ngFor="let tag of project.data.tags"
                          >{{ tag }}</span
                        >
                      </p>
                    </div>
                    <div class="footer-section">
                      <button
                        class="view-button"
                        (click)="buttonClick('visit-project', project.id)"
                      >
                        <a
                          class="view-link"
                          [href]="project.data.url"
                          target="_blank"
                          rel="noreferrer noopener"
                          >View</a
                        >
                      </button>
                      <button
                        class="info-button"
                        [routerLink]="['/projects', project.id]"
                        (click)="buttonClick('read-story', project.id)"
                      >
                        More Info
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
