/* projects section */

.gradient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background: #ff6654;
}

.projects-content {
  min-height: 100vh;
}
/* card */
.project-card {
  background: #fff;
  padding: 20px 10px;
  text-align: center;
  border-radius: 15px;
}

.project-title {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}

.project-info {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-section {
  margin-top: 10px;
}

.info-button {
  border: 1px solid #ff6654;
  background-color: #ff6654;
  color: #fff;
  margin: 5px;
}

.view-button {
  border: none;
  background-color: #fff;
  color: #ff6654;
  margin: 5px;
}

.view-link {
  color: #ff6654;
}

.view-button:hover {
  background-color: #ff6654;
  color: #fff;
}

.view-button:hover .view-link {
  color: #fff;
}

.info-button,
.view-button {
  font-weight: normal;
}

@media only screen and (max-width: 766px) {
  .element {
    -webkit-clip-path: polygon(
      0 calc(1% - 1vw),
      100% 0,
      100% 100%,
      0 calc(100% - 4vw)
    );
    clip-path: polygon(0 calc(1% - 1vw), 100% 0, 100% 100%, 0 calc(100% - 4vw));
  }
  .projects-element {
    -webkit-clip-path: polygon(0 calc(1% - 1vw), 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 calc(1% - 1vw), 100% 0, 100% 100%, 0 100%);
  }
  .projects-content {
    padding: 100px 10px;
  }
  .projects {
    display: grid;
    grid-template-columns: 0.85fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
  }
}

/* ipad and ipad pro devices [ tablets ] */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .projects-content {
    padding: 150px 20px 250px 20px;
  }
  .projects {
    grid-gap: 25px calc(4% - 4px);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .projects-content {
    padding: 150px 40px 300px 40px;
  }
  .projects {
    grid-gap: calc(20px + 1%) calc(6% - 6px);
  }
}

@media only screen and (min-width: 767px) and (max-width: 1279px) {
  .element {
    -webkit-clip-path: polygon(
      0 calc(2% - 1vw),
      100% 0,
      100% 100%,
      0 calc(100% - 4vw)
    );
    clip-path: polygon(0 calc(2% - 1vw), 100% 0, 100% 100%, 0 calc(100% - 4vw));
  }
  .projects-element {
    -webkit-clip-path: polygon(0 calc(2% - 1vw), 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 calc(2% - 1vw), 100% 0, 100% 100%, 0 100%);
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .content-section {
    display: grid;
    grid-template-rows: 75px 200px;
  }
  .project-info {
    display: grid;
    grid-template-rows: 125px 75px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  .element {
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
  }
  .projects-element {
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
  }
  .projects-content {
    padding: 150px 50px 300px 50px;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: calc(20px + 2%) calc(4% - 4px);
  }
  .content-section {
    display: grid;
    grid-template-rows: 75px 200px;
  }
  .project-info {
    display: grid;
    grid-template-rows: 125px 75px;
  }
}

@media only screen and (min-width: 1680px) {
  .element {
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
  }
  .projects-element {
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
  }
  .projects-content {
    padding: 150px 100px 300px 100px;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: calc(20px + 4%) calc(4% - 4px);
  }
  .content-section {
    display: grid;
    grid-template-rows: 50px 175px;
  }
  .project-info {
    display: grid;
    grid-template-rows: 100px 75px;
  }
}
