img {
    width: 100%;
}

.mockup {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.artwork {
    position: absolute;
    width: 76%;
    height: 80%;
    top: 6.25%;
    left: 12%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
}