<div class="text-center" *ngIf="!successMessage">
    <button class="comment-button" (click)="showForm()" *ngIf="!showCommentForm">Leave a Comment</button>
    <button class="comment-button" (click)="showForm()" *ngIf="showCommentForm">Hide Comment Form</button>
</div>
<!-- comment form -->
<div *ngIf="showCommentForm">
    <app-avatar (gender)="onGender($event)" (avatarUrl)="onAvatarUrl($event)"></app-avatar>
    <p class="text-center avatar-error" *ngIf="avatarUrl == undefined && name.touched">
        Avatar is required! Please, select any one of the above avatar.
    </p>

    <div class="comment-form fade-in-bottom">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
            <div class="columns">
                <div class="column col-sm-10 col-md-8 col-6 centered">
                    <div class="form-group">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-input" type="text" id="name" placeholder="Name" autocomplete='name' ngModel required name="name" #name="ngModel">
                    </div>
                    <div [hidden]="name.valid || !name.touched">
                        <span class="error" [hidden]="!name.hasError('required')">Name is required!</span>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column col-sm-10 col-md-8 col-6 centered">
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-input" type="email" id="email" placeholder="Email" autocomplete='email' ngModel required name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    </div>
                    <div [hidden]="email.valid || !email.touched" class="text-right">
                        <span class="error" *ngIf="email.hasError('pattern') || email.dirty">Please, enter a valid email address!</span>
                        <span class="error" [hidden]="!email.hasError('required')">Email is required!</span>
                    </div>
                </div>
            </div>


            <div class="columns">
                <div class="column col-sm-10 col-md-8 col-6 centered">
                    <div class="form-group">
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-input" id="message" placeholder="Type your message..." rows="3" ngModel required name="message" #message="ngModel"></textarea>
                    </div>
                    <div [hidden]="message.valid || !message.touched">
                        <span class="error" [hidden]="!message.hasError('required')">Message is required!</span>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column col-sm-10 col-md-8 col-6 centered">
                    <div class="accept-checkbox">
                        <input type="checkbox" name="accepted" id="accepted" ngModel required>
                        <label for="accepted">I have read and accept the
                            <!-- <a href="/terms-and-conditions" target="_blank" (click)="legalItemsClick('terms')">Terms</a>&nbsp;&&nbsp; -->
                            <a href="/privacy-policy" target="_blank" (click)="legalItemsClick('privacy')">Privacy Policy</a>.
                        </label>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column comment-form-button-group">
                    <button type="submit" class="submit-button" [disabled]="!f.valid || gender == undefined || avatarUrl == undefined">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- success message -->
<div class="container success-message fade-in-bottom" *ngIf="successMessage">
    <div class="columns">
        <div class="column col-12 centered">
            <div class="empty">
                <div class="empty-icon">
                    <p class="email-success"></p>
                </div>
                <p class="empty-title h5">Thank you, your comment has been received successfully!</p>
                <p class="empty-title h5">However, your comment will be posted public after I carefully review it!</p>
                <div class="empty-action centered">
                    <button class="submit-button" (click)="sendAnotherComment()">Leave&nbsp;another&nbsp;comment</button>
                </div>
            </div>
        </div>
    </div>
    <!-- user comment  -->
    <div class="chip-message">
        <span class="chip note">Below is your comment which will be publicly posted after <strong>&nbsp;Approval</strong>.</span>
    </div>
    <div class="columns">
        <div class="column col-12 centered">
            <div class="tile">
                <div class="tile-icon">
                    <figure class="avatar avatar-xl">
                        <img [src]="commentFormData.avatarUrl" alt="avatar">
                    </figure>
                </div>
                <div class="tile-content">
                    <h4 class="tile-title">{{commentFormData.name}}</h4>
                    <p class="message">{{commentFormData.message}}</p>
                </div>
                <div class="tile-action">
                    <p>Posted on {{commentFormData.dateAdded | date: 'MMM dd, y, hh:mm a'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>