/* contact section */

.form-label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    text-align: left;
    color: #808080;
}

.comment-form-button-group {
    padding: 40px;
    display: flex;
    justify-content: center;
}

input,
textarea {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    border: 2px solid #caced7;
}

input:focus,
textarea:focus {
    border: 2px solid #00c3b3;
    outline: none;
}

.submit-button {
    border: 1px solid #808080;
    color: #808080;
    padding: 5px 20px;
}

.comment-button {
    border: 1px solid #808080;
    color: #808080;
}

.submit-button:hover,
.comment-button:hover {
    background-color: #808080;
    color: #fff;
}

.submit-button:disabled {
    cursor: not-allowed;
}

input {
    border-radius: 15px;
}


/* errors */

.error {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    color: #f54000;
}

.avatar-error {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #f54000;
}


/* success message */

.success-message button {
    width: 300px;
}

.empty-icon {
    display: flex;
    justify-content: center;
}

.empty {
    color: #343434;
    background: #f4f5f6;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.email-success {
    background-image: url('../../../../assets/icons/email-success.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
}


/* comment */

.chip-message {
    text-align: center;
    padding: 20px;
    color: #808080;
    font-size: 20px;
}

.note {
    padding: 20px;
}

.note strong {
    color: #000;
}

.tile {
    padding: 20px;
}

.tile-title {
    color: #808080;
}

figure img {
    background: #808080;
}

@media only screen and (max-width: 991px) {
    .submit-button:disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
    .tile {
        display: grid !important;
        grid-template-areas: 'tile-icon tile-content' '. date';
        grid-template-columns: 75px 1fr;
        grid-template-rows: 1fr;
    }
    .tile-icon {
        grid-area: tile-icon;
    }
    .tile-content {
        grid-area: tile-content;
    }
    .tile-action {
        grid-area: date;
        text-align: end;
    }
    .tile-title {
        font-size: 20px;
    }
    .tile-action {
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) {
    .tile {
        display: grid !important;
        grid-template-areas: 'tile-icon tile-content date';
        grid-template-columns: 75px 0.5fr 0.5fr;
        grid-template-rows: 1fr;
    }
    .tile-icon {
        grid-area: tile-icon;
    }
    .tile-content {
        grid-area: tile-content;
    }
    .tile-title {
        font-size: 22px;
    }
    .message {
        grid-area: message;
        font-size: 18px;
    }
    .tile-action {
        grid-area: date;
        text-align: end;
    }
}