<app-site-header></app-site-header><br>
<div *ngIf="showLoader">
    <app-site-loader></app-site-loader>
</div>
<div *ngIf="!showLoader">
    <div class="wrapper" *ngIf="projectData | async as project">
        <div class="side-content">
            <div class="card">
                <div class="card-image">
                    <app-devices [imageUrl]="project.imageUrl"></app-devices>
                </div>
                <div class="card-content">
                    <div class="card-header">
                        <div class="card-title h5">{{project.title}}</div>
                    </div>
                    <div class="card-body">
                        <p>{{project.shortInfo}}</p>
                        <p><span class="chip" *ngFor="let tag of project.tags">{{tag}}</span></p>
                    </div>
                    <div class="card-footer">
                        <app-likes [docId]="projectId" [collectionName]="'projects'"></app-likes>
                        <a [href]="project.url" target="_blank"><button class="project-button" (click)="buttonClick()">View Project</button></a>
                    </div>
                    <a [href]="project.url | githubLink" target="_blank"><button class="project-button" (click)="buttonClick('github')">View on GitHub</button></a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <app-content-card [projectId]="projectId"></app-content-card><br>
            <app-comment-form [docId]="projectId" [collectionName]="'projects'"></app-comment-form><br>
            <app-comments [docId]="projectId" [collectionName]="'projects'"></app-comments>
        </div>
    </div>
</div>