<div [ngStyle]="{'position': modalVisible ? 'fixed' : 'relative'}">
    <app-site-header>
    </app-site-header>
    <div class="centered" *ngIf="showLoader">
        <app-site-loader></app-site-loader>
    </div>
    <div class="wrapper" *ngIf="!showLoader">
        <div class="side-content">
            <div class="about-card">
                <div *ngFor="let data of aboutCardData | async">
                    <div class="card text-center">
                        <div class="card-image">
                            <div class="card-avatar" [ngStyle]="{'background-image': 'url('+ data.avatar + ')'}">
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-header">
                                <h2 class="card-title">{{data.name}}</h2>
                                <div class="card-subtitle">{{data.jobTitle}}&nbsp;at&nbsp;{{data.company}}</div>
                            </div>
                            <div class="card-body">
                                <p>{{data.education}} at&nbsp;{{data.university}}</p>
                                <p>{{data.city}}, {{data.state}}</p>
                                <p><a routerLink="/contact"><button class="contact-button" (click)="cardItemClick('contact')">Contact</button></a></p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.linkedin.com/in/iamsainikhil" target="_blank" (click)="cardItemClick('linkedin')">
                                    <p class="icon-svg linkedin"></p>
                                </a>
                                <a href="https://codepen.io/iamsainikhil" target="_blank" (click)="cardItemClick('codepen')">
                                    <p class="icon-svg codepen"></p>
                                </a>
                                <a href="https://github.com/iamsainikhil" target="_blank" (click)="cardItemClick('github')">
                                    <p class="icon-svg github"></p>
                                </a>
                                <button class="about-card-button" routerLink="/resume" (click)="cardItemClick('resume')">Resume</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <app-tab-list></app-tab-list>
        </div>
    </div>
</div>