<div class="container">
    <div class="columns">
        <div class="column">
            <h2 class="section-title text-center">Skills</h2>
        </div>
    </div>
</div>

<div class="skills-section container-fluid">
    <div class="columns">
        <div class="column">
            <div class="element gradient">
                <div class="section-content skills-content">
                    <div *ngIf="showLoader">
                        <app-site-loader></app-site-loader>
                    </div>
                    <div *ngIf="!showLoader">
                        <div class="wow fade-in-bottom" *ngFor="let skill of skillsData | async">
                            <h2 class="skills-caption caption">{{skill.caption}}</h2>
                            <div class="specialities wow fade-in-bottom">
                                <div *ngFor="let item of skill.specialities">
                                    <p class="speciality-image" [ngStyle]="{'background-image': 'url(' + item.image + ')'}"></p>
                                    <p class="speciality-title">{{item.title}}</p>
                                </div>
                            </div>
                            <h2 class="sub-title text-center">{{skill.subTitle}}</h2>
                            <div class="categories">
                                <div class="web-design category wow fade-in-bottom">
                                    <h3 class="category-title">{{skill.webDesign.title}}</h3>
                                    <div class="category-images">
                                        <div *ngFor="let image of skill.webDesign.images">
                                            <p class="category-image tip" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                                                <span class="message">{{image | urlNameExtract}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-ux-design category wow fade-in-bottom">
                                    <h3 class="category-title">{{skill.uiDesign.title}}</h3>
                                    <div class="category-images">
                                        <div *ngFor="let image of skill.uiDesign.images">
                                            <p class="category-image tip" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                                                <span class="message">{{image | urlNameExtract}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="front-end category wow fade-in-bottom">
                                    <h3 class="category-title">{{skill.frontEnd.title}}</h3>
                                    <div class="category-images">
                                        <div *ngFor="let image of skill.frontEnd.images">
                                            <p class="category-image tip" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                                                <span class="message">{{image | urlNameExtract}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-end category wow fade-in-bottom">
                                    <h3 class="category-title">{{skill.backEnd.title}}</h3>
                                    <div class="category-images">
                                        <div *ngFor="let image of skill.backEnd.images">
                                            <p class="category-image tip" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                                                <span class="message">{{image | urlNameExtract}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- button -->
                        <!-- <div class="explore-button wow zoomIn text-center">
                            <button routerLink="/skills" (click)="buttonClick('explore-more')">explore more</button>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>