/* skills section */

.section-title {
  padding-top: 100px;
}

.gradient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background: #ff6654;
}

/* specialities */
.speciality-image {
  background-size: contain;
  background-repeat: no-repeat;
}

/* categories */

.category {
  color: #000;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 0;
}

.category-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.category-image {
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 50px;
  margin-left: 10px;
}

.category-image .message {
  text-transform: capitalize;
}

.speciality-title,
.sub-title,
.category-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .element {
    -webkit-clip-path: polygon(
      0 0,
      100% calc(2% - 1vw),
      100% calc(100% - 4vw),
      0 100%
    );
    clip-path: polygon(0 0, 100% calc(2% - 1vw), 100% calc(100% - 4vw), 0 100%);
  }
  .skills-content {
    padding: 100px 20px 150px 20px;
    text-align: left;
  }
  .skills-caption {
    font-size: 24px;
  }
  /* specialities */
  .specialities {
    display: grid;
    justify-items: center;
  }
  .speciality-image {
    width: 200px;
    height: 200px;
  }
  .speciality-title {
    margin-top: -20px;
    text-align: center;
  }
  /* categories */
  .sub-title {
    font-size: 22px;
  }
  .category-title {
    font-size: 24px;
  }
  .category-image {
    width: 40px;
    height: 40px;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    grid-gap: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .element {
    -webkit-clip-path: polygon(
      0 0,
      100% calc(3% - 1vw),
      100% calc(100% - 3vw),
      0 100%
    );
    clip-path: polygon(0 0, 100% calc(3% - 1vw), 100% calc(100% - 3vw), 0 100%);
  }
  .skills-caption {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* specialities */
  .specialities {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
  }
  .speciality-image {
    width: 250px;
    height: 250px;
  }
  .speciality-title {
    margin-top: -30px;
  }
  /* categories */
  .sub-title {
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .skills-content {
    padding: 100px 20px 150px 20px;
    margin: 0 auto;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(1, 0.75fr);
    grid-template-rows: 1fr;
    justify-content: center;
    grid-gap: 25px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  .skills-content {
    padding: 100px 50px 200px 50px;
    margin: 0 auto;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    grid-gap: calc(20px + 3%) calc(3% - 4px);
  }
}
@media only screen and (min-width: 1680px) {
  .skills-content {
    padding: 100px 100px 250px 100px;
    margin: 0 auto;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 1fr;
    justify-content: center;
    grid-gap: calc(20px + 4%) calc(2% - 4px);
  }
}
