/* about section */

.about-content {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.gradient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #008080;
}

.buttons-group a:hover,
.about-button:hover {
  cursor: pointer;
}

.about-button {
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
}

.about-button:hover {
  background-color: #fff;
  color: #008080;
  box-shadow: none;
}

.about-button:hover .link {
  color: #008080;
}

.about-caption {
  font-size: 24px;
}

/* about card */

.wrapper {
  z-index: 999;
}

.card {
  background: #007373;
  border-radius: 15px;
  border: 0 solid transparent;
}

.card-image {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
}

.card-avatar {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
  z-index: 5;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #000;
}

.card-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #50596d;
}

.card-caption {
  font-size: 20px;
}

.card-body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #50596d;
  background: #fff;
}

.card-footer {
  background: #353839;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

.card-content {
  margin-top: 25px;
  padding-top: 75px;
  background: #fff;
}

.contact-button {
  color: #808080;
  border-color: #808080;
  padding: 5px 15px;
}

.contact-button:hover {
  color: #f5f5f5;
  background: #808080;
  border-color: transparent;
}

.icon-svg {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.icon-svg:hover {
  cursor: pointer;
}

.linkedin {
  background-image: url("../../../../assets/icons/social-icons/linkedin.svg");
}

.twitter {
  background-image: url("../../../../assets/icons/social-icons/twitter.svg");
}

.github {
  background-image: url("../../../../assets/icons/social-icons/github-square.svg");
}

.about-card-button {
  width: 100px;
  height: 35px;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.about-card-button:hover {
  color: #353839;
  background: #f5f5f5;
}

@media only screen and (max-width: 767px) {
  .element {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  }

  /* about section */
  .about-content {
    padding: 50px 0 150px 0;
    text-align: left;
  }

  .mobile-about-info {
    display: grid;
    grid-template-columns: 0.75fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-content: center;
  }

  .desktop-about-info {
    display: none;
  }

  .buttons-group {
    display: grid;
    grid-template-rows: repeat(3, 0.3fr);
    grid-gap: 35px;
    justify-content: center;
    margin-top: 2rem;
  }

  /* about card & main content*/
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    padding: 30px 0 20px 0;
  }
}

@media only screen and (max-width: 370px) {
  .side-content {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .element {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw));
  }

  /* about section */
  .about-content {
    padding: 100px 0px 150px 0px;
  }

  .mobile-about-info {
    display: none;
  }

  /* about card & main content */
  .wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "side main";
    grid-gap: 20px;
    padding: 20px;
  }

  .side-content {
    grid-area: side;
    max-width: 400px;
  }

  .side-content > div {
    top: 0;
    position: sticky;
  }

  .main-content {
    grid-area: main;
    min-height: 50vh;
    overflow: auto;
    padding-top: 25px;
  }

  .desktop-about-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    text-align: left;
    line-height: 28px;
  }
}

@media only screen and (min-width: 992px) {
  .buttons-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 25px;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .buttons-group {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 35px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  .wrapper {
    grid-template-columns: 0.4fr 1fr;
  }
}

@media only screen and (min-width: 1680px) {
  .about-content {
    padding: 100px 50px 150px 50px;
  }

  .wrapper {
    grid-template-columns: 450px auto;
  }

  .desktop-about-info {
    font-size: 1.2vw;
    line-height: 1.5;
  }
}
