<div class="about-body">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="section-title text-center">About</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="columns">
            <div class="column">
                <div class="element gradient">
                    <div class="section-content about-content">
                        <div *ngIf="showLoader">
                            <app-site-loader></app-site-loader>
                        </div>
                        <div *ngIf="!showLoader">
                            <div class="wow fade-in-bottom" *ngFor="let about of aboutData | async">
                                <h2 class="about-caption caption" [innerHTML]=about.caption></h2>
                                <p>{{about.education}} and {{about.job}}</p>
                                <div class="buttons-group">
                                    <button class="about-button wow zoomIn" routerLink="/resume" (click)="buttonClick('resume')">VIEW MY RESUME</button>
                                    <button class="about-button wow zoomIn" routerLink="/about" (click)="buttonClick('story')">READ MY STORY</button>
                                </div>
                                <div class="mobile-about-info wow fade-in-bottom" [innerHTML]="getSanitizedHtml(about.mobileInfo)"></div>
                                <div class="desktop-about-info wow fade-in-bottom" [innerHTML]="getSanitizedHtml(about.desktopInfo)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>