/* achievements section */

.gradient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background: #4988cf;
}

.a-content {
  min-height: 100vh;
}

/* card */
.achievement-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.certificate {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.content-section {
  padding-left: 20px;
}

.achievement-title {
  color: #000;
  font-size: 20px;
}

.achievement-caption {
  color: #808080;
}

.achievement-button {
  border: 1px solid #4988cf;
  color: #4988cf;
  width: 100px;
}

.achievement-button:hover {
  background-color: #4988cf;
  color: #fff;
}

.explore-button {
  padding-top: 50px;
}

.explore-button button {
  border: 1px solid #fff;
  color: #fff;
}

.explore-button button:hover {
  background-color: #fff;
  color: #4988cf;
}

@media only screen and (max-width: 766px) {
  .element {
    -webkit-clip-path: polygon(
      0 0,
      100% calc(1% - 1vw),
      100% calc(100% - 4vw),
      0 100%
    );
    clip-path: polygon(0 0, 100% calc(1% - 1vw), 100% calc(100% - 4vw), 0 100%);
  }
  .a-content {
    padding: 50px 20px;
  }
  .achievements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
  }
}

/* ipad and ipad pro devices [ tablets ] */

@media only screen and (min-width: 767px) and (max-width: 1680px) {
  .element {
    -webkit-clip-path: polygon(
      0 0,
      100% calc(3% - 1vw),
      100% calc(100% - 3vw),
      0 100%
    );
    clip-path: polygon(0 0, 100% calc(3% - 1vw), 100% calc(100% - 3vw), 0 100%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .a-content {
    padding: 150px 20px 300px 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .a-content {
    padding: 150px 60px 300px 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .achievements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: calc(2% + 20px) calc(7% - 7px);
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  .achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: calc(20px + 3%);
  }
  .a-content {
    padding: 150px 50px 300px 50px;
  }
}

@media only screen and (min-width: 1680px) {
  .element {
    -webkit-clip-path: polygon(
      0 0,
      100% calc(3% - 1vw),
      100% calc(100% - 2vw),
      0 100%
    );
    clip-path: polygon(0 0, 100% calc(3% - 1vw), 100% calc(100% - 2vw), 0 100%);
  }
  .a-content {
    padding: 150px 100px 300px 100px;
  }
  .achievements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: calc(20px + 3%);
  }
}
