<div class="container">
  <div class="columns">
    <div class="column">
      <h2
        class="text-center"
        [ngClass]="{
          'section-title': page === 'home',
          'pa-title': page === 'achievements'
        }"
      >
        Achievements
      </h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="columns">
    <div class="column">
      <div
        class="gradient"
        [ngClass]="{
          element: page === 'home',
          'a-element': page === 'achievements'
        }"
      >
        <div class="section-content a-content">
          <div>
            <app-filter
              [chipData]="chipData"
              [page]="'achievements'"
            ></app-filter>
          </div>
          <div *ngIf="showLoader">
            <app-site-loader></app-site-loader>
          </div>
          <div *ngIf="!showLoader">
            <div class="achievements">
              <div *ngFor="let achievement of (achievementsData | async)">
                <div class="achievement-card wow fade-in-bottom">
                  <div class="image-section">
                    <img
                      class="certificate"
                      [src]="achievement.imageUrl"
                      alt="achievement-image"
                    />
                  </div>
                  <div class="content-section text-left">
                    <h3 class="achievement-title">{{ achievement.title }}</h3>
                    <p class="achievement-caption">
                      {{ achievement.caption }}
                    </p>
                    <a [href]="achievement.url" target="_blank">
                      <button
                        class="achievement-button"
                        (click)="buttonClick('view', achievement.title)"
                      >
                        View
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
