<div appScrollable (scrollDirection)="getPosition($event)" [ngClass]="{'sticky': !showHeader}">
    <div class="desktop-menu" [ngClass]="{'non-sticky slide-bottom': animateHeader}">
        <div class="desktop-logo" routerLink="/"></div>
        <!-- desktop menu -->
        <div class="desktop-items-container">
            <a routerLink="/about" (click)="desktopLinksClick('about')" [ngClass]="{'active': (page === 'about')}">About</a>
            <a routerLink="/skills" (click)="desktopLinksClick('skills')" [ngClass]="{'active': (page === 'skills')}">Skills</a>
            <a routerLink="/projects" (click)="desktopLinksClick('projects')" [ngClass]="{'active': (page === 'projects')}">Projects</a>
            <a routerLink="/achievements" (click)="desktopLinksClick('achievements')" [ngClass]="{'active': (page === 'achievements')}">Achievements</a>
        </div>
    </div>
    <!-- desktop menuend -->

    <!-- mobile menu -->
    <div class="mobile-menu" [ngClass]="{'non-sticky slide-bottom': animateHeader}">
        <div class="mobile-logo" routerLink="/"></div>
        <div class="mobile-icon">
            <div class="menu-icon menu-icon-cross" [ngClass]="{'isOpen' : !menuIcon}" (click)="menuIconClick()">
                <span></span>
                <svg x="0" y="0" width="54px" height="54px" viewbox="0 0 54 54">
                                <circle cx="27" cy="27" r="26"></circle>
                            </svg>
            </div>
        </div>
        <div class="nav-items-wrapper" *ngIf="!menuIcon">
            <div class="nav-links">
                <a routerLink="/about" (click)="mobileLinksClick('about')" class="btn btn-link" [ngClass]="{'active': (page === 'about')}">About</a>
                <a routerLink="/skills" (click)="mobileLinksClick('skills')" class="btn btn-link" [ngClass]="{'active': (page === 'skills')}">Skills</a>
                <a routerLink="/projects" (click)="mobileLinksClick('projects')" class="btn btn-link" [ngClass]="{'active': (page === 'projects')}">Projects</a>
                <a routerLink="/achievements" (click)="mobileLinksClick('achievements')" class="btn btn-link" [ngClass]="{'active': (page === 'achievements')}">Achievements</a>
            </div>
        </div>
    </div>
    <!-- mobile menu end -->
</div>