.sticky .mobile-menu,
.sticky .desktop-menu {
    top: -100%;
}

.non-sticky {
    background-color: #f5f5f5 !important;
}

.desktop-menu,
.mobile-menu {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    height: 70px;
}

.desktop-logo,
.mobile-logo {
    background-image: url('../../../../assets/icons/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.desktop-items-container a.active,
.nav-links a.active {
    color: #000;
}

.desktop-items-container a:hover,
.nav-links a:hover {
    color: #353839;
}


/* desktop */

.desktop-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 20px 20px 25px;
}

.desktop-logo:hover {
    cursor: pointer;
}

.desktop-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.desktop-items-container a {
    padding-top: 10px;
    padding-right: 25px;
    color: #808080;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
}


/* mobile menu */

.mobile-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 15px 20px 15px;
}

.mobile-icon {
    position: absolute;
    z-index: 99;
    margin-top: -5px;
    padding-right: 10px;
    right: 0;
}


/* mobile menu items */

.nav-items-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    min-height: 200vh;
    z-index: 10;
    overflow-y: auto;
}

.nav-links {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-links a {
    color: #808080;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-transform: capitalize;
    padding-top: 75px;
}


/* icon  */

.menu-icon {
    width: 54px;
    height: 54px;
    margin: auto;
    position: relative;
    border-radius: 50%;
}

.menu-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000;
}

.menu-icon span:before,
.menu-icon span:after {
    content: "";
    background-color: #000;
    width: 22px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-6px);
    transition: transform 0.5s;
}

.menu-icon span:after {
    transform: translateY(6px);
}

.menu-icon:hover span:before {
    transform: translateY(-8px);
}

.menu-icon:hover span:after {
    transform: translateY(8px);
}


/* icon cross animation */

.menu-icon-cross {
    background-color: transparent;
    transition: transform 0.5s;
}

.menu-icon-cross span::before,
.menu-icon-cross span::after {
    transform-origin: 50% 50%;
}

.menu-icon-cross span {
    transition: background 0.5s, transform 0.5s;
}

.menu-icon-cross svg {
    fill: transparent;
    stroke-width: 2px;
    stroke: #fff;
    stroke-dashArray: 165;
    stroke-dashOffset: 165;
    transition: stroke-dashOffset 1s, fill 0.5s;
}

.menu-icon-cross.isOpen {
    transform: rotate(180deg);
    background-color: #808080;
}

.menu-icon-cross.isOpen span {
    background: transparent;
}

.menu-icon-cross.isOpen span:before {
    transform: translateY(0) rotate(45deg);
}

.menu-icon-cross.isOpen span:after {
    transform: translateY(0) rotate(-45deg);
}

.menu-icon-cross.isOpen svg {
    stroke-dashOffset: 0;
}

.menu-icon-cross.isOpen:hover svg {
    fill: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 991px) {
    .desktop-menu {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
}