.love-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-right: 20px;
}

.love-icon-empty {
    background-image: url('../../../../assets/icons/love-empty.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -15px;
    margin-right: -10px;
}

.love-icon-filled {
    background-image: url('../../../../assets/icons/love.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -15px;
    margin-right: -10px;
}

.love-icon-empty:hover,
.love-icon-filled:hover {
    cursor: pointer;
}

.number {
    color: #808080;
    margin-top: 0px;
    z-index: 1;
    position: relative;
}

.pulsate-fwd {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out 3 both;
    animation: pulsate-fwd 0.5s ease-in-out 3 both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}