<div *ngFor="let data of likesData | async">
    <div class="love-group zoomIn" *ngIf="showIncrementIcon">
        <p class="love-icon-empty tip" (click)="loveIncrementClick(data.data.count, data.id)">
            <span class="message">Like this {{collectionName | sliceString}}</span>
        </p>
        <p class="chip number">{{data.data.count}}</p>
    </div>
    <div class="love-group" *ngIf="!showIncrementIcon">
        <p class="love-icon-filled tip pulsate-fwd" (click)="loveDecrementClick(data.data.count, data.id)">
            <span class="message">You already liked this {{collectionName | sliceString}}</span>
        </p>
        <p class="chip number">{{data.data.count}}</p>
    </div>
</div>