.love-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-right: 20px;
}

.love-icon-empty {
    background-image: url('../../../../assets/icons/love-empty.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -15px;
    margin-right: -10px;
}

.love-icon-filled {
    background-image: url('../../../../assets/icons/love.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -15px;
    margin-right: -10px;
}

.love-icon-empty:hover,
.love-icon-filled:hover {
    cursor: pointer;
}

.number {
    color: #808080;
    margin-top: 0px;
    z-index: 1;
    position: relative;
}


/* tooltip */

.tip span.message {
    display: none;
}

.tip:hover span.message::before {
    content: '';
    border-bottom-left-radius: 2px;
}

.tip:hover span.message {
    background: rgb(214, 41, 116);
    background: linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    background: -webkit-linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    background: -moz-linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    background: -o-linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    color: #f5f5f5;
    border-radius: 5px;
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 99;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 5px 15px;
    width: 200px;
    margin-left: 20px;
    animation: fadeIn 0.3s ease 0.1s forwards;
    -webkit-animation: fadeIn 0.3s ease 0.1s forwards;
    -moz-animation: fadeIn 0.3s ease 0.1s forwards;
    -o-animation: fadeIn 0.3s ease 0.1s forwards;
}

.pulsate-fwd {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out 3 both;
    animation: pulsate-fwd 0.5s ease-in-out 3 both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(-75px);
        -webkit-transform: translateY(-75px);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(-75px);
        -webkit-transform: translateY(-75px);
    }
}