.tab-item a {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #808080;
    border-bottom-color: #f5f5f5;
}

.tab-item a:hover {
    color: #000;
    border-bottom-color: #808080;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.active a,
.active a:hover {
    border-bottom-color: #000;
    color: #000;
}

.tab-content {
    padding: 20px 0px;
}


/* temporary css  */

p {
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    font-size: 48px;
}

.puc-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/iamsainikhil-portfolio.appspot.com/o/errors%2Fpage_under_construction.svg?alt=media&token=52ccaefb-f21d-4364-bcd5-531686a1e65f');
}