<div class="options text-center fade-in-bottom">
    <span class="label">Select your Gender</span>
    <!-- male -->
    <span class="dot" (click)="maleClick()"></span>
    <span><i class="icon icon-check" *ngIf="maleCheck"></i></span>
    <span class="label">Male</span>
    <!-- female -->
    <span class="dot" (click)="femaleClick()"></span>
    <span><i class="icon icon-check" *ngIf="femaleCheck"></i></span>
    <span class="label">Female</span>
</div>
<div *ngFor="let data of avatarData | async">
    <p class="text-center fade-in-bottom"><span class="chip">Choose an Avatar</span></p>
    <div class="avatars fade-in-bottom" *ngIf="maleCheck">
        <div *ngFor="let icon of data.man; let i = index">
            <figure class="avatar avatar-xl">
                <img [src]="icon" alt="avatar" [ngStyle]="{'background-color': (i === imageId) ? '#808080' : 'transparent'}" (click)="avatarClick(icon, i)">
            </figure>
        </div>
    </div>
    <div class="avatars fade-in-bottom" *ngIf="femaleCheck">
        <div *ngFor="let icon of data.women; let i = index">
            <figure class="avatar avatar-xl">
                <img [src]="icon" alt="avatar" [ngStyle]="{'background-color': (i === imageId) ? '#808080' : 'transparent'}" (click)="avatarClick(icon, i)">
            </figure>
        </div>
    </div>
</div>