<header class="navbar" appScrollable (scrollDirection)="getPosition($event)">
  <div class="description">
    <div class="content"></div>
    <div class="logo"></div>
  </div>
  <!-- desktop menu & banner -->
  <div
    class="desktop-menu"
    [ngClass]="{
      sticky: !showHeader,
      'non-sticky slide-bottom': animateHeader
    }"
  >
    <div class="desktop-logo" routerLink="/" (click)="linksClick('logo')"></div>
    <div class="desktop-items-container">
      <a
        pageScroll
        [pageScrollDuration]="500"
        href="#about"
        (click)="linksClick('about')"
        rel="noreferrer noopener"
        >About</a
      >
      <a
        pageScroll
        [pageScrollDuration]="500"
        href="#projects"
        (click)="linksClick('projects')"
        rel="noreferrer noopener"
        >Projects</a
      >
      <a
        pageScroll
        [pageScrollDuration]="500"
        href="#skills"
        (click)="linksClick('skills')"
        rel="noreferrer noopener"
        >Skills</a
      >
    </div>
  </div>
  <div class="parallax desktop-banner">
    <!-- <div class="parallax-top-left"></div>
        <div class="parallax-top-right"></div>
        <div class="parallax-bottom-left" tabindex="1"></div>
        <div class="parallax-bottom-right" tabindex="2"></div> -->
    <div class="parallax-content">
      <div class="parallax-front">
        <h1 class="tracking-in-expand name">Sai Nikhil</h1>
        <div class="sub-title">
          <p class="tracking-in-expand-fwd">UI/UX&nbsp;Designer</p>
          <p class="tracking-in-expand-fwd">Front&nbsp;End&nbsp;Engineer</p>
          <p class="tracking-in-expand-fwd">Software&nbsp;Engineer</p>
        </div>
      </div>
      <div class="parallax-back"></div>
    </div>
    <span class="scroll-btn">
      <a
        pageScroll
        href="#about"
        class="tip"
        (click)="linksClick('scroll-down-desktop')"
        rel="noreferrer noopener"
      >
        <span class="message">Scroll Down</span>
        <span class="mouse">
          <span></span>
        </span>
      </a>
    </span>
  </div>

  <!-- desktop menu & banner end -->
  <!-- mobile menu & banner -->
  <div
    class="mobile-menu"
    [ngClass]="{
      sticky: !showHeader,
      'non-sticky slide-bottom': animateHeader
    }"
  >
    <div class="mobile-logo" routerLink="/"></div>
    <div class="mobile-icon">
      <div
        class="menu-icon menu-icon-cross"
        [ngClass]="{ isOpen: !menuIcon }"
        (click)="menuIconClick('menu')"
      >
        <span></span>
        <svg x="0" y="0" width="54px" height="54px" viewbox="0 0 54 54">
          <circle cx="27" cy="27" r="26"></circle>
        </svg>
      </div>
    </div>
    <div class="mobile-items-container" *ngIf="!menuIcon">
      <div class="mobile-nav-links">
        <a
          pageScroll
          [pageScrollDuration]="500"
          href="#about"
          (pageScrollFinish)="menuIconClick('about')"
          rel="noreferrer noopener"
          >About</a
        >
        <a
          pageScroll
          [pageScrollDuration]="500"
          href="#projects"
          (pageScrollFinish)="menuIconClick('projects')"
          rel="noreferrer noopener"
          >Projects</a
        >
        <a
          pageScroll
          [pageScrollDuration]="500"
          href="#skills"
          (pageScrollFinish)="menuIconClick('skills')"
          rel="noreferrer noopener"
          >Skills</a
        >
      </div>
    </div>
  </div>
  <div class="parallax mobile-banner" *ngIf="menuIcon">
    <div class="parallax-content">
      <div class="parallax-front">
        <h1 class="wow tracking-in-expand">Sai Nikhil</h1>
        <div class="sub-title">
          <p class="wow tracking-in-expand-fwd">UI/UX&nbsp;Designer</p>
          <p class="wow tracking-in-expand-fwd">Front&nbsp;End&nbsp;Engineer</p>
          <p class="wow tracking-in-expand-fwd">Software&nbsp;Engineer</p>
        </div>
      </div>
      <div class="parallax-back">
        <!-- image is placed here from css -->
      </div>
    </div>
    <span class="scroll-btn">
      <a
        pageScroll
        href="#about"
        (click)="linksClick('scroll-down-mobile')"
        rel="noreferrer noopener"
      >
        <span class="mouse">
          <span></span>
        </span>
      </a>
    </span>
  </div>
  <!-- mobile menu & banner end -->
</header>
