.resume-view {
  height: 100vh;
}

.mobile-buttons.buttons-group {
  display: none;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.buttons-group button {
  cursor: pointer;
}

.primary-button {
  background-color: #2dbcad;
  color: #fff;
  border: 1px solid #2dbcad;
}

.secondary-button,
.outline-button {
  background-color: #fff;
  color: #2dbcad;
  border: none;
  padding: 5px 15px;
}

.outline-button:hover {
  border: 1px solid #2dbcad;
}

.buttons-group button:nth-child(2) {
  margin-left: 20px;
}

#print {
  display: none;
}

@media print {
  #noprint {
    display: none;
  }
  #print {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-buttons.buttons-group {
    display: flex;
  }
  .buttons-group button:nth-child(1) {
    margin-right: 10px;
  }
}
