.resume-view {
  height: 100vh;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.buttons-group button {
  cursor: pointer;
}

.primary-button {
  background-color: #2dbcad;
  color: #fff;
  border: 1px solid #2dbcad;
}

.secondary-button {
  background-color: #fff;
  color: #2dbcad;
  border: none;
  padding: 5px 15px;
}

.buttons-group button:nth-child(2) {
  margin-left: 20px;
}

#print {
  display: none;
}

@media print {
  #noprint {
    display: none;
  }
  #print {
    display: block;
  }
}
