<app-site-header></app-site-header>
<div class="resume-content" id="noprint">
    <figure class="figure fade-in-bottom">
        <img class="centered img-responsive" src="https://iamsainikhil.github.io/assets/images/resume/SaiNikhilBheemanathiniResume.png" alt="SainikhilBheemanathiniResume" />
    </figure>
    <div class="buttons-group">
        <a href="https://iamsainikhil.github.io/assets/images/resume/SaiNikhilBheemanathiniResume_Restricted.pdf" target="_blank"><button class="resume-button wow zoomIn" (click)="viewResume()">Download Resume</button></a>
        <button class="resume-button back-home wow zoomIn" (click)="backClick()">Back to home page</button>
    </div>
</div>

<div id="print">
    <p>This page is intended to be viewed online and may not be printed.</p>
    <p>Please view this page at https://iamsainikhil.github.io/resume</p>
</div>