<app-site-header></app-site-header>
<div class="resume-content" id="noprint">
  <figure class="figure fade-in-bottom">
    <img
      class="centered img-responsive"
      src="https://raw.githubusercontent.com/iamsainikhil/iamsainikhil.github.io/master/assets/images/resume/SaiNikhilBheemanathiniResume.png"
      alt="SainikhilBheemanathiniResume"
    />
  </figure>
  <div class="buttons-group">
    <a
      href="https://github.com/iamsainikhil/iamsainikhil.github.io/raw/master/assets/images/resume/SaiNikhilBheemanathiniResume_Restricted.pdf"
      target="_blank"
      rel="noopener noreferrer"
      ><button class="resume-button wow zoomIn" (click)="viewResume()">
        Download Resume
      </button></a
    >
    <button class="resume-button back-home wow zoomIn" (click)="backClick()">
      Back to home page
    </button>
  </div>
</div>

<div id="print">
  <p>This page is intended to be viewed online and may not be printed.</p>
  <p>Please view this page at https://iamsainikhil.com/resume</p>
</div>
