.resume-view {
  display: grid;
  place-items: center;
  width: 90%;
  height: 60vh;
  margin: 1rem auto 1.5rem auto;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.buttons-group button {
  cursor: pointer;
}

.primary-button {
  background-color: #2dbcad;
  color: #fff;
  border: 1px solid #2dbcad;
}

#print {
  display: none;
}

@media print {
  #noprint {
    display: none;
  }
  #print {
    display: block;
  }
}
