/* You can add global styles to this file, and also import other style files */

body,
html {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

::selection {
    background: #808080;
    color: #f5f5f5;
}

::-moz-selection {
    background: #808080;
    color: #f5f5f5;
}

*:focus,
*:active,
*:hover {
    outline: none !important;
}


/* svg images */

.svg-image {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 60vh;
}


/* scrollbar */


/* Track */

::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    /*to hide x-axis scroll bar since overflow is visible*/
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #343434;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #808080;
}


/* common styles across sections on home page */

.section-title {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 75px;
}


/* about page sections title & sub-title */

.a-title,
.a-subtitle {
    letter-spacing: 1px;
    text-align: center;
}

.a-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.a-subtitle {
    font-family: 'Poppins', sans-serif;
}


/* title on projects & achievements page */

.pa-title {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-content {
    text-align: center;
    color: #fff;
}

.caption {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 25px;
    font-style: italic
}

.caption::before,
.caption::after {
    content: '';
    background-image: url('assets/icons/quote-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.caption::before {
    margin-right: 5px;
}

.caption::after {
    margin-left: 10px;
    margin-bottom: -25px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.card {
    -webkit-box-shadow: -3px 3px 110px -17px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 3px 110px -17px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 3px 110px -17px rgba(0, 0, 0, 0.1);
    border-radius: 15px !important;
}

.chip {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 1px;
    font-size: 16px !important;
    background-color: #dcdcdc !important;
    color: #353839 !important;
}

.chip:hover {
    /* box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19); */
}

.card-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.card-body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}


/* buttons */

button {
    border-radius: 50px !important;
    padding: 5px 15px;
    background-color: transparent;
    text-transform: uppercase !important;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold;
    letter-spacing: 2px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

@media only screen and (min-width: 1200px) {
    .card:hover {
        /* -webkit-box-shadow: -3px 3px 110px -17px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: -3px 3px 110px -17px rgba(0, 0, 0, 0.8);
        box-shadow: -3px 3px 110px -17px rgba(0, 0, 0, 0.8); */
        box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
    }
}


/* close icon on modals */

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    opacity: 1;
    z-index: 999;
}

.close:hover {
    cursor: pointer;
}

.close:before,
.close:after {
    position: absolute;
    top: 8px;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #fff;
    opacity: 1;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* z-depth effects */

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21);
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
}


/* animations */

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.fade-in-bottom,
.legal-content {
    -webkit-animation: fade-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: fade-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.zoomIn {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


/* accept terms & privacy on forms */

.accept-checkbox {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #808080;
    text-align: left;
}

.accept-checkbox a {
    color: #000;
}

.accept-checkbox a:hover {
    cursor: pointer;
}


/* terms, privacy, disclaimer */

.legal-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.legal-content {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.legal-content a {
    color: #808080;
}

.legal-content a:hover {
    color: #000;
}

.legal-content .contact-button {
    color: #808080;
    background-color: #f5f5f5;
}

.legal-content .contact-button:hover {
    background-color: #808080;
    color: #f5f5f5;
}

@media only screen and (max-width: 991px) {
    .legal-content {
        padding: 0 40px 40px 40px;
        font-size: 18px;
    }
    .section-title {
        font-size: 28px;
    }
}

@media only screen and (min-width: 992px) {
    .legal-content {
        padding: 0 10em 10em 10em;
        font-size: 16px;
    }
    .section-title {
        font-size: 48px;
    }
}


/* temporary */

.error-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.error-image {
    background-image: url('https://iamsainikhil.github.io/assets/icons/page_under_construction.svg');
}


/* tooltip */

.tip span.message {
    display: none;
    background: rgb(214, 41, 116);
    background: linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    background: -webkit-linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    background: -moz-linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    background: -o-linear-gradient(to right bottom, #d62974, #e43c6a, #ef5061, #f66459, #fb7853);
    color: #f5f5f5;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    z-index: 99;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 5px 15px;
    margin-top: -5px;
    animation: fadeIn 0.3s ease 0.1s forwards;
    -webkit-animation: fadeIn 0.3s ease 0.1s forwards;
    -moz-animation: fadeIn 0.3s ease 0.1s forwards;
    -o-animation: fadeIn 0.3s ease 0.1s forwards;
}

.tip span.message::after {
    content: '';
    display: block;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ef5061;
    left: 15px;
    top: 30px;
    transform: rotate(270deg);
}

.tip:hover {
    cursor: pointer;
}

.tip:hover span.message {
    display: block;
}


/* tooltip on likes component */

.love-icon-empty:hover span.message,
.love-icon-filled:hover span.message {
    width: 200px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
    }
}