<div *ngIf="showLoader">
    <app-site-loader></app-site-loader>
</div>
<div *ngIf="!showLoader">
    <div *ngFor="let story of storyData | async">
        <!-- story data -->
        <div class="content-wrapper" *ngFor="let data of story.data.data">
            <h2 class="title">{{data.title}}</h2>
            <div class="content-card">
                <p class="content">{{data.info}}</p>
            </div>
        </div>
        <!-- timeline -->
        <!-- <h2 class="title">Project Timeline</h2>
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <span class="timeline-icon"></span>
                        </div>
                        <div class="timeline-content">
                            {{story.data.timeline.startDate | date}}
                            <p>Initial commit on GitHub</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <span class="timeline-icon icon-lg">
                                    <i class="icon icon-check"></i>
                            </span>
                        </div>
                        <div class="timeline-content">
                            {{story.data.timeline.startDate | date}}
                            <div [innerHTML]="story.data.timeline.startInfo"></div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <span class="timeline-icon icon-lg">
                                    <i class="icon icon-check"></i>
                            </span>
                        </div>
                        <div class="timeline-content">
                            {{story.data.timeline.endDate | date}}
                            <div [innerHTML]="story.data.timeline.endInfo"></div>
                        </div>
                    </div>
                </div> -->
        <!-- error -->
        <div *ngIf="story.data.data.length === 0">
            <div class="svg-image ndf-image"></div>
        </div>
    </div>
</div>