.content-card {
    background: #f5f5f5;
    color: #808080;
    height: auto;
    width: 100%;
    margin-top: -75px;
}

.content-wrapper::before,
.content-wrapper::after {
    content: '';
    background-image: url('../../../../assets/icons/quote.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.content-wrapper::before {
    margin-right: 5px;
    margin-bottom: -50px;
}

.content-wrapper::after {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: -45px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    color: #808080;
    margin-left: 50px;
    padding-left: 10px;
    text-transform: capitalize;
}

.content {
    margin-top: 75px;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

.timeline-icon::before {
    border: 1px solid #808080 !important;
}

.icon-lg {
    background: #808080 !important;
}


/* error */

.ndf-image {
    background-image: url('../../../../assets/icons/404_no_data.svg');
}