<app-site-header></app-site-header>
<h2 class="legal-title">Disclaimer</h2>

<div class="legal-content">
    <p>If you require any more information or have any questions about my site's disclaimer, please feel free to contact me by email at bheemasl@mail.uc.edu</p>

    <p>All the information on this website - <a routerLink="/">https://iamsainikhil.github.io</a> - is published in good faith and for general information purpose only. Sai Nikhil Bheemanathini does not make any warranties about the completeness, reliability
        and accuracy of this information. Any action you take upon the information you find on this website (Sai Nikhil Portfolio), is strictly at your own risk. Sai Nikhil Bheemanathini will not be liable for any losses and/or damages in connection with
        the use of this website.</p>

    <p>From this website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links
        to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>

    <p>Please be also aware that when you leave my website, other sites may have different privacy policies and terms which are beyond my control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging
        in any business or uploading any information.</p>

    <h3>Credits</h3>
    <p>Avatar Icons used in comments form are made by <a href="https://www.flaticon.com/authors/monkik" title="monkik" target="_blank">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0</a>
    </p>
    <p><a href="https://www.freepik.com/free-vector/404-error-background-with-a-robot_1719278.htm" target="_blank">404 Page not found vector created by Freepik</a>&nbsp; where svg animations were designed & developed by me!</p>

    <p><a href="https://www.freepik.com/free-vector/under-construction-template-in-flat-style_1705550.htm" target="_blank">Page under construction vector created by Freepik</a>&nbsp; where svg animation was designed & developed by me!</p>

    <p>Animations used on this website were inspired from&nbsp;<a href="http://www.animista.net/" target="_blank">Animista</a></p>


    <h3>Consent</h3>

    <p>By using my website, you hereby consent to this disclaimer and agree to its terms.</p>

    <h3>Update</h3>

    <p>Should I update, amend or make any changes to this document, those changes will be prominently posted here.</p>

    <p><em>Last updated on {{date | date}}</em></p>
</div>